.optionsContainer, .selectedOption {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
}

.optionsContainer {
  position: absolute;
  top: -11px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  color: black;
  z-index: 1000;
  max-height: 100px;
  overflow-y: auto;
}

.option {
  color: white;
  background-color: transparent;
  margin: 5px 0;
  cursor: pointer;
  width: fit-content;
}

.selectedOption  {
  cursor: pointer;
}